page-dschedule {
.textClass{
    text-align: center !important;
}
.textClass .datewa{

    color:blue;
}

.textClass .appointwa{

    color:red;
}

hr{
    border-top: 1px solid #999999 !important;
    height: 1px !important;
    display: block !important;
    font-size: 1em !important;
    visibility: visible !important;
  }

  .grad {
    background: linear-gradient(to top, rgba(255,0,0,0), rgba(52, 152, 219,1));
  }

  .grad ion-item {
    background-color: transparent;
  }


  .timeText{
    color:#2c3e50;
    padding-top:10px;
  }
  
}
