page-appointments {
    hr {
        border-top: 2px solid grey !important;
        height: 1px !important;
        display: block !important;
        font-size: 2em !important;
        visibility: visible !important;
      }
}
