.ima{
    width: 200px;
    height: 200px;
    background-image: "assets/imgs/c1.jpg";
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
   }
   .ab{
  
    padding-top: 0px;
    padding-bottom: 0px;
    height:50px;
   

   }