page-subspecializationmodel {
    .slot {
        background-color: rgba(52, 152, 219, 0.6);
        color: white;
    }
    .slot-false {
        background-color: rgba(253, 253, 253, 0.6);
        color: rgb(58, 70, 240);
    }
}