<ion-header>
    <ion-navbar hideBackButton color="primary">
        <ion-buttons left>
            <button ion-button icon-only (click)="onBackButton()" >
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title center style="font-size:4px;">{{ 'sub_specializations' | translate }}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>


        <ion-list-header>
            <p class="info">{{ 'sub_specializations_heading' | translate }}</p>
        </ion-list-header>
        <h4 *ngIf="!sub_specializations">{{ 'no_data' | translate }}</h4>
        <div margin *ngFor="let s of sub_specializations; let i = index">
            <button class="slot" *ngIf="s.availed===true" [ngStyle]="{'background-color': color[i]}" (click)="TimeSlot(s,i)" ion-button small outline>{{s.sub_specialization_name}}<ion-icon name="checkmark"></ion-icon></button>
            <button class="slot-false" *ngIf="s.availed===false" (click)="TimeSlot(s,i)" ion-button small outline>{{s.sub_specialization_name}}<ion-icon name="add"></ion-icon></button>

        </div>


    </ion-list>
</ion-content>
<ion-footer>
    <button ion-button full color="danger" (click)="UpdateSubSpecialization()">{{ 'sub_specializations_update' | translate }}
</button>
</ion-footer>